#area, #path, #cities, #borders, #lakes, #shores {
    fill: none;
}

#area path {
    /*stroke: #f00;*/
    fill: #5f7f8f;
}

#area path:hover {
    fill: #557484;
}

#path path {
    stroke: #E87D0C;
    stroke-width: 3;
    stroke-dasharray: 904, 904;
    stroke-dashoffset: 904;

    transition: stroke-dashoffset 2s ease-in-out, stroke-width 0.5s ease-in-out;
}
#path path:hover {
    stroke: #ff900c;
}

#borders path {
    stroke: #bcd2e8;
}

/*#shores path {*/
    /*stroke: #4a7b90;*/
    /*stroke-width: 2;*/
/*}*/

#cities circle {
    fill: #f00;
}

#lakes path {
    fill: #0a4e6f;
}
