<h2>Loggført av hver deltaker</h2>
<div class="scrollable">

<table>
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="p in participants">{{p.name}}</th>
    </tr>
    <tr>
        <th>Team</th>
        <th ng-repeat="p in participants" class="no-wrap">{{p.teamName}}</th>
    </tr>
    <tr>
        <th>Total:</th>
        <th ng-repeat="p in participants" class="distance">{{toKm(p.totalDistance)}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="day in days">
        <td class="distance">{{day}}</td>
        <td ng-repeat="p in participants" class="distance">{{toKm(p.days[day])}}</td>
    </tr>
    </tbody>

</table>

</div>