<h2>Loggført av hvert lag</h2>
<!--<p>-->
    <!--Dagens tall og den oppdaterte totalen oppdaters kun 13:57 hver dag.-->
<!--</p>-->

<table>
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="team in teams" class="no-wrap">{{team.name}}</th>
    </tr>
    <tr>
        <th>Total:</th>
        <th ng-repeat="team in teams" class="distance">{{toKm(team.totalDistance)}}</th>
    </tr>
    <tr>
        <th>Prosent:</th>
        <th ng-repeat="team in teams" class="distance">{{percent(team.totalDistance)}} %</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="day in days">
        <td class="distance">{{day}}</td>
        <td ng-repeat="team in teams" class="distance">{{toKm(team.days[day])}}</td>
    </tr>
    </tbody>

</table>