<div class="row">
    <div class="small-6 medium-3 column">
        <label>Velg lag
            <select ng-model="selected.team" ng-options="team.name for team in teams"></select>
        </label>
    </div>
</div>
<div class="row">
    <div class="small-6 medium-3 column">
        <label>Velg deltaker
            <select ng-model="selected.participant" ng-options="p.name for p in selected.team.participants"></select>
        </label>
    </div>
</div>
<div class="row">
    <div class="small-6 medium-3 column">
        <label>Velg dato
            <select ng-model="selected.date" ng-options="readableDay(d) for d in days"></select>
        </label>
    </div>
</div>
