object {
    width: 805px;
    height: 367px;
    background-color: #0a4e6f;
}

#tooltip {
    background: rgba(240, 240, 240, 0.4);
    padding: 3px 5px;
    position: absolute;
    border-radius: 3px;
    font-size: 12px;
    opacity: 0;
    top: 0;
    left: 0;
    font-weight: bold;

    transition: opacity 0.2s ease-in-out;
}

/*#tooltip:hover {*/
    /*opacity: 1;*/
/*}*/